<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!--<context:component-scan base-package="com.ruijie.rgcc.controlleroller"/>--> <!--基础包扫描-->
    <context:component-scan base-package="com.ruijie.rgcc"/>

    <context:annotation-config/> <!-- 开启注解功能 -->

    <!-- jsp视图解析器,要放最后面,因为一旦调用jsp，就向浏览器发出数据了 -->
    <!--组装页面用的-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <!-- <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>--> <!--未知-->
        <property name="prefix" value="/"/> <!--页面在web根目录下-->
        <property name="suffix" value=".jsp"/> <!--页面后缀-->
    </bean>

    <!-- 数据源链接配置 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

</beans>